*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  min-height: 100vh;
  scroll-behavior: smooth;
}

body {
  margin: 0 auto;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  overflow-wrap: break-word;
}

ul,
ol,
li {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  text-decoration-skip-ink: auto;
  color: inherit;
  padding: 0;
  margin: 0;
}

button {
  border: none;
  background: none;
  cursor: pointer;
}

input,
button,
textarea,
select {
  cursor: pointer;
  font: inherit;
  border: none;
  padding: 0;
  margin: 0;
  background: none;
  appearance: none;
}

img,
picture,
svg,
video,
canvas {
  max-width: 100%;
  height: auto;
  display: block;
}

@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation: none !important;
    transition: none !important;
  }
}
