.features {
  box-sizing: border-box;
  height: 100vh;
  align-content: space-between;
  background-color: var(--light-color);
  color: var(--dark-color);
}

.features_title {
  grid-column: var(--features-text-span);
}

.features-horizontal {
  position: relative;
  grid-column: var(--grid-column-start-two);
  width: max-content;
  gap: var(--space-3xl);
  padding-top: var(--space-2xl);
  padding-bottom: var(--space-3xl);

  &:last-child {
    margin-right: var(--space-4xl);
  }
}

.features-horizontal::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: var(--feature-horizontal-line-height);
  background: var(--dark-color);
}

.feature-point {
  position: relative;
  width: var(--features-point-width);
  margin-right: var(--space-xl);
  box-sizing: border-box;

  > h3 {
    font-family: var(--font-sans);
    font-weight: var(--semi-bold);
    margin-bottom: var(--space-sm);
  }
}

.feature-point::before {
  content: "";
  position: absolute;
  top: -3rem;
  width: var(--feature-point-size);
  height: var(--feature-point-size);
  background: var(--dark-color);
}
