:root {
  --light-color: #fff;
  --dark-color: #000;

  --font-sans: "Inter", sans-serif;
  --font-serif: "Merriweather", serif;
  --font-serif-italic: "Merriweather Italic", serif;

  --light: 300;
  --semi-bold: 600;

  --space-xs: 0.25rem;
  --space-sm: 0.5rem;
  --space-base: 1rem;
}
