:root {
  --light-color: #fff;
  --dark-color: #000;

  --font-sans: "Inter", sans-serif;
  --font-serif: "Merriweather", serif;
  --font-serif-italic: "Merriweather Italic", serif;

  --light: 300;
  --semi-bold: 600;

  --space-xs: 0.25rem;
  --space-sm: 0.5rem;
  --space-base: 1rem;
  --space-lg: 1.5rem;

  --grid-column-span-full: 1 / -1;

  --large-clamp-font-size-min: 2rem;
  --large-clamp-font-size-preferred: 4.5vw;
  --large-clamp-font-size-max: 4.375rem;

  --hero-subtitle-font-size-min: 3.5rem;
  --hero-subtitle-font-size-preferred: 7vw;
  --hero-subtitle-font-size-max: 7.5rem;
}
