:root {
  --layout-columns: 8;
  --layout-gap: 1rem;

  --text-base: 1.25rem;
  --text-lg: 1.5rem;
  --text-2xl: 2.3rem;
  --text-3xl: 2.8rem;

  --intro-main-text-span: span 5;
  --intro-action-text-column: 6 / span 2;

  --definition-content-column: 5 / span 4;

  --history-content-column: span 3;
  --history-content-column-last: 6 / span 3;

  --counter-text-span: span 4;
  --counter-text-column-last: 5 / span 4;

  --percentage-text-span: span 4;

  --features-text-span: span 4;
  --features-point-width: 40vw;

  --action-title-column: 5 / span 5;
  --action-points-container-column: span 4;

  --reflection-text-column: 5 / span 4;
}
