:root {
  --layout-columns: 2;
  --layout-gap: 0.5rem;

  --text-base: 1rem;
  --text-lg: 1.25rem;
  --text-2xl: 1.5rem;
  --text-3xl: 2rem;

  --intro-main-text-span: span 2;
  --intro-action-text-column: 1;

  --definition-content-column: 1 / -1;

  --history-content-column: 1 / -1;
  --history-content-column-last: 1 / -1;

  --counter-text-span: 1 / -1;
  --counter-text-column-last: var(--counter-text-span);

  --percentage-text-span: 1 / -1;

  --features-text-span: 1 / -1;
  --features-point-width: 60vw;

  --action-title-column: 1 / -1;
  --action-points-container-column: 1 / -1;
}
